<div class="card mt-4">
    <h4 class="card-header mb-4">Adicionar banner</h4>
    <div class="card-block">
        <div class="container">
            <form [formGroup]="addBannerForm" (ngSubmit)="addBanner()" >
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input class="form-control" placeholder="Nome" name="name" formControlName="name" type="text" />          
                    </div>
                    <div class="form-group">
                        <label for="image">Imagem</label>
                        <input class="form-control" placeholder="Imagem" name="image" type="file" (change)="onFileChange($event)" value="" #fileInput />
                    </div>
                    <div class="form-group">
                        <label for="order">Ordem</label>
                        <input class="form-control" placeholder="Ordem" name="order" type="text"  formControlName="order" />
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-radio">
                            <p-radioButton name="active" formControlName="active" value="1"></p-radioButton>
                            <span class="custom-control-description">Ativo</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <p-radioButton name="active" formControlName="active" value="0"></p-radioButton>
                            <span class="custom-control-description">Inativo</span>
                        </label>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" [disabled]="!addBannerForm.valid" class="btn">OK</button>
                    </div>
            </form>
        </div>
    </div>
</div>

<div class="card mt-4" *ngIf="!isLoading">
    <h4 class="card-header mb-4">Banners ({{banners.length}})</h4>
    <div class="card-block">
        <div class="container">
            <div [hidden]="!infoMsg.body" class="alert alert-{{infoMsg.type}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{infoMsg.body}}
            </div>

            <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped">
            <thead class="thead-default">
                <tr>
                <th width="30%">Nome</th>
                <th width="20%">Imagem</th>
                <th width="20%">Ordem</th>
                <th width="20%">Ativo</th>
                <th align="center" width="30%">Ações</th>
                </tr>
            </thead>
            <tbody *ngIf="!isEditing">
                <tr *ngFor="let banner of banners">
                <td>{{banner.name}}</td>
                <td align="center"><img src="{{ assetsUrl + banner.image }}" width="50" /></td>
                <td align="center">{{banner.order}}</td>
                <td align="center">{{banner.active == 1 ? 'Sim': 'Não'}}</td>
                <td align="center">
                    <button class="btn btn-sm btn-warning text-white" (click)="enableEditing(banner)">
                        <i class="fa fa-pencil"></i>
                    </button> 
                    <button class="btn btn-sm btn-danger" (click)="deleteBanner(banner)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
                </tr>  
            </tbody>
            <tbody *ngIf="isEditing">
                <tr>
                <td colspan="5">
                    <form #form="ngForm" (ngSubmit)="editBanner(banner)">
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input class="form-control" type="text" name="name" placeholder="Name" [(ngModel)]="banner.name" required>
                        </div>

                        <div class="form-group">
                            <label for="image">Imagem</label>
                            <input class="form-control" type="file" name="image" placeholder="Imagem" (change)="onFileChange($event)" value="">
                            <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">Remover arquivo</button>
                        </div>

                        <div class="form-group">
                            <label for="order">Ordem</label>
                            <input class="form-control" type="text" name="order" placeholder="Name" [(ngModel)]="banner.order" required>
                        </div>

                        <div class="form-group">
                            <label class="custom-control custom-radio mt-4">
                                <p-radioButton name="active" [(ngModel)]="banner.active" value="1"></p-radioButton>
                                <span class="custom-control-description">Ativo</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <p-radioButton name="active" [(ngModel)]="banner.active" value="0"></p-radioButton>
                                <span class="custom-control-description">Inativo</span>
                            </label>
                        </div>
                        <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid">
                            <i class="fa fa-floppy-o"></i> Salvar
                        </button>
                    
                    </form>
                    <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancelar</button>
                    
                </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>